.AppContainer {
  max-width: 1200px;
  margin: 0 auto;
  transition: 3s;
}

header {
  display: flex;
  justify-content: space-between;
}

header a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  list-style: none;
}

header img {
  font-size: 0;
  width: 35px;
  cursor: pointer;
  margin: 10px 15px 0 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 30px;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* .App label{
  margin-left: 4px;
  font-size: 16px;
}

.App input{
  width: 60px;
  font-size: 30px;
  border: none;
  outline: none;
  padding-left: 16px;
} */

.App span {
  display: flex;
  justify-content: center;
}

.qwe {
  display: flex;
  align-items: end;
  padding: 0 6px;
}

.qwe1 {
  margin-bottom: -5px !important;
}

.lineContainer {
  position: relative;
}

.line {
  width: 285px;
  height: 4px;
  background-color: white;
}

.circleOnLine {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #3f86ed;
  border-radius: 50%;
  top: -8px;
}

.title {
/*   font-family: "Patua One", cursive; */
  font-size: 45px;
}

.image {
  border-radius: 10px;
  box-shadow: black 15px 15px 25px -10px;
  width: 450px;
  margin-right: 100px;
}

.amount {
  font-family: "Alata", sans-serif;
  font-size: 32px;
  color: ;
}

.button {
  font-size: 35px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  margin-left: -2px;
  height: 90px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 8px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.button:hover {
  background-position: 99% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:focus {
  outline: none;
}

.button.g {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
